@CHARSET "ISO-8859-1";
body
{
	background-color:orange;
	margin: 0px auto;
	padding: 0px auto;
}
#content
{
	width: 800px;
	margin: 0px auto;
	margin-bottom: 32px;
	margin-top: 34px;
	padding-bottom: 12px;
	background-color: orange;
	
}
#logo
{
	
	background-image: url("../images/logo.jpg");
	margin: 10px;
	width: 125px;
	height: 125px;
	text-align: center;
	
	
}
#header
{
	width: 800px;
	margin: 0px auto;
	
}
#headtitle
{
	margin: 0px;
	padding: 0px;
	margin-bottom: 0px;
	text-align: center;
	font-family: tahima;
	font-size: 23px;
	color: green;
}
#subtitle
{
	text-align: center;
	color: black;
	font-family: Tahima;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 7px;
	padding-top: 0px;
	margin-right: 0px;
}
.mymenu
{
	margin:2px;
	text-align: right;
	list-style: circle;
	text-transform: capitalize;
}
.menuitem
{
	display:inline-block;
	margin:0px;
	text-transform:lowercase;
	text-align:right;
	list-style: katakana;
	list-style-position: inside;
	list-style-image: inherit;
	list-style-type:hebrew;
	text-transform: capitalize;
}
.menulink
{
	text-align: center;
	font-family: Tahima;
	font-size: 20px;
	border-radius:20px;
	padding-left: 20px;
	text-decoration:blink;
	border:black 1px solid;
	background: black;
	color:white;
	border-radius:30px;
	
}
#footer
{
	color: #00f;
	position: fixed;
	bottom: 0px;
	text-align: center;
	background-image: url("../images/bar.jpg");
	margin: 0px;
	display: block;
	
}
#foot
{

	font-family: Tahima;
	 
	font-size: 20px;
}
#foot1
{
	font-weight:bold;
	text-align:right;
}