@CHARSET "ISO-8859-1";
body
{
	background-image: url("../images/logo.jpg");
}
#content
{
	width:800px;
	margin: 0 auto;
	margin-top: 34px;
	margin-bottom: 32px;
	padding-bottom: 12px;
	background-color: aqua;
}
#welcome
{
	margin-left:30px;
	padding-bottom: 12px;
}
#header
{
	width: 1300px;
	margin-top: 0px;
	
}
#logo
{
	background-image: url("../images/logo.jpg");
	float:left;
	margin: 10px;
	height: 100px;
	width: 100px;
}
#headtitle
{
	margin-top: 0px;
	padding: 0px;
	margin-bottom: 0px;
	text-align: center;
	font-size : 40px;
	font-family: Tahima;
	color: black;
}
#donar{
	margin-top: 50px;
	
}
#subtitle
{
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	font-family: Tahima;
	font-size: 20px;
	text-align: center;
	margin-right: 0px;
}
.mymenu
{
	text-align: right;
	margin-top:30px;
	margin: down;
	margin-left:0px;
	list-style: circle;
}
.menuitem
{
	display:inline;
	
	
}
.menulink
{
	background: black;
	color: white;
	font-family: Tahima;
	font-size: 20px;
	padding: 10px;
	padding-left: 25px;
	padding-down: 25px;
	padding-right: 25px;
	border-radius:20px;
	text-decoration: none;
	border: black 1px solid;
}
.menulink:HOVER {
	color: black;
	background: #E6E6FA;
	border-radius: 5px;
	
	
}
#footer
{
	color: black;
	position: fixed;
	bottom:0px;
	text-align: center;
	margin: 0px;
	display: block;
	right: 0px;
	left: 0px;
}
#foot
{
	font-size: 16px;
	font-family: Tahima;
}
#foot1
{
	font-size: 12px;
	font-weight: bold;
}


input[type=text]:focus {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
     
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

input[type=reset] {
   padding:5px; 
   background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

input[type=text]:focus{
border-color:#333;
}
#search{
	
}




